.Input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;

    label {
        font-family: sans-serif;
        font-size: 14px;
        padding-right: 5px;
        white-space: nowrap;
    }

    input {
        background-color: gray;
        outline: none;
        border-color: grey;
        border-style: solid;
    }
}